<a href="https://colab.research.google.com/github/aleenaapaul/Arduino-/blob/main/placement_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)write code for getting an input integer number 'n' and print sum of all even and odd digits in it separately

In [ ]:
n=int(input())
esum=0;
osum=0;
while (n>0):
  ld=n%10;
  if ld%2==0:
      esum=esum+ld
  else:
      osum=osum+ld
  n=n//10

print(esum)
print(osum)

123456
12
9

2)write code for getting an input integer number 'n' and print the series -1 2 4 8 16 32 .....n

In [ ]:
n=int(input())
t=1
while(t<=n):
  print(t,end=" ")
  t=t*2
print(t)

128
1 2 4 8 16 32 64 128 256

3)write code for getting an input integer number 'n' and find the sum of series  s=2/7-5/11+8/15-11/19+.....n terms

In [ ]:
n=int(input())
s=0;
j=2;
k=7;
sign=1;
for i in range(1,n+1):
    term=j/k
    s=s+sign*term
    j=j+3
    k=k+4
    sign=sign*-1
print(f"{s:.6f}")

3
0.364502

4)write code for getting an input integer number 'n' and check whether it is a prime number or not

In [ ]:
n=int(input())
flag=0;
for i in range(2,n//2+1):
    if(n%i==0):
        flag=1;
        break
if(flag==0):
    print("prime")
else:
    print("not prime")

17
prime

In [ ]:
n=int(input())
for i in range(1,n+1,1):
    for j in range(1,n-i+1,1):
        print(" ",end="")
    for k in range(1,i+1,1):
        print("* ",end="")
    print()

4
   *
  * *
 * * *
* * * *

In [ ]:
n=int(input())
for i in range(1,n+1,1):
    for j in range(1,n-i+1,1):
        print(" ",end="")
    for k in range(1,i+1,1):
        print(chr(ord('A')+k-1),end=" ")
    print()

4
   A
  A B
 A B C
A B C D

In [ ]:
n=int(input())
for i in range(1,n+1,1):
    for j in range(1,n-i+2,1):
        print("*",end="")
    print()
for i in range(1,n,1):
    for j in range(1,i+2,1):
        print("*",end="")
    print()

3
***
**
*
**
***

In [ ]:
n=int(input())
a=int(input())
s=1;
sign=1;
for i in range(1,n):
    t=2*i
    term=a**t
    s=s+sign*term
    sign=sign*-1
print(s)

3
2
-11

In [ ]:
n=int(input())
for i in range(1,n+1,1):
    for j in range(1,n-i+1,1):
        print(" ",end="")
    for k in range(1,i+1,1):
        print("*",end="")
    print()
for i in range(1,n):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(1,n-i+1,1):
        print("*",end="")
    print()

4
   *
  **
 ***
****
 ***
  **
   *

In [ ]:
n=int(input())
inc=0;
for i in range(1,n+1,1):
    for j in range(1,n-i+1,1):
        print(" ",end="")
    for k in range(1,2*i,1):
        if k==1 or k==2*i-1 or i==n:
            print(chr(ord('A')+inc),end="")
            inc=(inc+1)%26
        else:
            print(" ",end="")
    print()

4
   A
  B C
 D   E
FGHIJKL

given an integer 'n',check

In [ ]:
n=int(input())
step=0;
while(n>0):
    step=step+1
    if(n%5==0):
        n=n//5
    elif(n%3==0):
        n=n//3
    elif(n%2==0):
        n=n//2
    else:
        n=n-1
print(step)

500
6

In [ ]:
n=int(input())
t=10;k=5

if n>0 and n<=k :
    print("NUMBER OF CANDIES SOLD:",n )
    print("NUMBER OF CANDIES LEFT:",t-n)
else:
    print("INVALID INPUT\n" "NUMBER OF CANDIES LEFT:",t-n)

In [ ]:
L1=[10,20,30,40,50]
print(L1)
print(*L1)
print(*L1,sep="~")

[10, 20, 30, 40, 50]
10 20 30 40 50
10~20~30~40~50

In [ ]:
L1=[10,20,30,40,50]
print(L1[2])

30

In [ ]:
str1="python"
print(str1)

python

In [ ]:
str1="python"
print(str1[2])

t

In [ ]:
L1=[]
str1=""
print(L1)
print(str1)

[]

In [ ]:
L1=[0]*5
print(*L1)
str1="ABC"*5
print(str1)

0 0 0 0 0
ABCABCABCABCABC

In [ ]:
L1=[10,20,30]
L2=[40,50]
L3=L1+L2
print(L3)

[10, 20, 30, 40, 50]

In [ ]:
str1="aleena"
str2="paul"
str3=str1+str2
print(str3)

aleenapaul

In [ ]:
L=[10,20,30,40,50]
L[2]=850
print(*L)

10 20 850 40 50

In [ ]:
L=[10,20,30,40,50]
L.append(850)
print(*L)

10 20 30 40 50 850

In [ ]:
L=[10,20,30]
str1="aleena"
print(L[-1])
print(str1[-1])
print(str1[-2])

30
a
n

In [ ]:
L=[10,20,30]
print(max(L))
print(min(L))
print(sum(L))

30
10
60

In [ ]:
L=[10,20,30,40,50]
L.insert(2,900)
print(*L)

10 20 900 30 40 50

In [ ]:
L=[10,20,30,40,50]
del L[2]
print(*L)

10 20 40 50

In [ ]:
L=[10,20,30,40,50]
L.remove(20)
print(*L)

10 30 40 50

In [ ]:
L=[10,20,30,40,50]
str1="python"
print(len(L))
print(len(str1))

5
6

In [ ]:
L=[10,20,30,40,50]
x=L.pop()
print(x)
y=L.pop(2)
print(y)
print(x)

50
30
50

In [ ]:
L=[10,20,30,40,50]
for i in range(len(L)):
    print(L[i],end=" ")

10 20 30 40 50

In [ ]:
L=[10,20,30,40,50]
for ele in L:
    print(ele,end=" ")

10 20 30 40 50

In [ ]:
str1="i love python"
for i in range(len(str1)):
    print(str1[i],end=" ")

i   l o v e   p y t h o n

In [ ]:
str1="i love python"
for ele in str1:
    print(ele,end=" ")

i   l o v e   p y t h o n

In [ ]:
str1="i love python"
x="###".join(str1)
print(x,type(x))

i### ###l###o###v###e### ###p###y###t###h###o###n <class 'str'>

In [ ]:
l=[10,20,30,40,50]
x=" ".join(map(str,l))
print(x,type(x))

10 20 30 40 50 <class 'str'>

In [ ]:
inp_str="aleena"
str_list=list(inp_str)
print(str_list,type(str_list))
str1=str(str_list)
print(str1,type(str1))
str2="".join(str_list)
print(str2,type(str2))

['a', 'l', 'e', 'e', 'n', 'a'] <class 'list'>
['a', 'l', 'e', 'e', 'n', 'a'] <class 'str'>
aleena <class 'str'>

In [ ]:
inp_str="aleena paul"
str_list=inp_str.split()
print(str_list)

['aleena', 'paul']

In [ ]:
l1=[10,20,30,40,50]
l2=l1[::-1]
print(l1)
print(l2)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [ ]:
l1=[10,20,30,40,50]
l2=sorted(l1)
print(l1)
print(l2)
l3=sorted(l1,reverse=True)
print(l3)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [ ]:
str1="aleena"
str2=str1[::-1]
print(str2)

aneela

In [ ]:
str1="EBAFGSGFH"
l1=sorted(str1)
print(l1)
l2=sorted(str1,reverse=True)
print(l2)
str2="".join(l1)
print(str2)
str3="".join(l2)
print(str3)

['A', 'B', 'E', 'F', 'F', 'G', 'G', 'H', 'S']
['S', 'H', 'G', 'G', 'F', 'F', 'E', 'B', 'A']
ABEFFGGHS
SHGGFFEBA

In [ ]:
l=[30,555,30,40,30,555]
str1="python python"
print(l.count(30))
print(str1.count("th"))
print(l.index(555))
print(str1.index("th"))

3
2
1
2

In [ ]:
p=int(input())
l=[10,20,30,40,50]
l=l[p:]+l[:p]
print(*l)

3
40 50 10 20 30

In [ ]:
p=int(input())
l=[10,20,30,40,50]
l=l[-p:]+l[:-p]
print(*l)

2
40 50 10 20 30

In [ ]:
l=[10,20,30,40,50]
print(l[1:4])
print(l[:4])
print(l[1:])
print(l[4:1:-1])
print(l[::])
l1=l[::-1]
print(l)
print(l1)

[20, 30, 40]
[10, 20, 30, 40]
[20, 30, 40, 50]
[50, 40, 30]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [ ]:
str1="aleena"
print(str1[1:4])
print(str1[:4])
print(str1[1:])
print(str1[4:1:-1])
print(str1[::])
str2=str1[::-1]
print(str1)
print(str2)

lee
alee
leena
nee
aleena
aleena
aneela

In [ ]:
l1=['A','B','C','D','E']
l2=[1,2,3,3,10]
l3=["one","two","three","three"]

for ele1,ele2,ele3 in zip(l1,l2,l3):
    print(ele1,ele2,ele3)

A 1 one
B 2 two
C 3 three
D 3 three

In [ ]:
str1="i love python"
if 'lov' in str1:
    print("yes,its a substring")
else:
    print("no,its not a substring")

yes,its a substring

In [ ]:
str1="i love python"
outstr=""
for i in range(len(str1)):
  if str1[i] not in "AEIOUaeiou":
    outstr=outstr+str1[i]
print(outstr)

 lv pythn

1)write code for traversing a list from left to right and print every elemnt with a space separation

In [ ]:
L=[10,20,30,40,50,60,70,80,90]
for i in range(len(L)):
    print(L[i],end=" ")

10 20 30 40 50 60 70 80 90

2)write code for traversing a list from left to right and print every elemnt with a hyphen separation

In [ ]:
L=[10,20,30,40,50,60,70,80,90]
print("-".join(map(str,L)))

10-20-30-40-50-60-70-80-90

3) write code for traversing a list from left to right and print every alternate elemnts witha space separation

In [ ]:
L=[10,20,30,40,50,60,70,80,90]
for i in range(0,len(L)):
    if i%2==0:
        print(L[i],end=" ")

10 30 50 70 90

 4)write code for traversing a list from right to left and print every alternate elemnts witha space separation

In [ ]:
L=[10,20,30,40,50,60,70,80,90]
for i in range(len(L)-1,-1,-2):

    print(L[i],end=" ")

90 70 50 30 10

5)write code for swapping every alternative pairs of a list and  print the list from left to right

In [ ]:
L=[10,20,30,40,50,60,70,80,90]
for i in range(0,len(L)-1,2):
    tmp=L[i]
    L[i]=L[i+1]
    L[i+1]=tmp
print(*L)

20 10 40 30 60 50 80 70 90

6)write code for printing pairs of left most and right most e;emn=ents from the given list.if any no. is not getting pair ,you can print '#'

In [ ]:
L=[10,20,30,40,50,60,70,80,90]
i=0;j=len(L)-1
while(i<j):
    print(L[i],L[j])
    i=i+1
    j=j-1
if(i==j):
    print(L[i],"#")

10 90
20 80
30 70
40 60
50 #

7)write code for finding the sum of all even integer numbers in the given string

In [ ]:
str1=input()
esum=0
for i in range(len(str1)):
    if str1[i].isdigit()==True:
        if int(str1[i])%2==0:
            esum=esum+int(str1[i])

print(esum)





#another method

str1=input()
esum=0
for i in range(len(str1)):
    if str1[i].isdigit() and int(str1[i])%2==0:
            esum=esum+int(str1[i])

print(esum)

10

8)write code for traversing a string from left to right and if a character 'Z' is present,then it should be replaced with character '#' and finally print the modified string

In [ ]:
str1="ZABCZZZDEFZ"
L=list(str1) #covert string to list
print(L)
for i in range(len(L)):
    if(L[i]=='Z'):
        L[i]='#'
print(L)
str1="".join(L) #convert list of string in to string
print(str1)


#ANOTHER MENTHOD

str1="ZABCZZZDEFZ"
print(str1.replace("Z","#"))

9)write code for finding the length of the last word of given input string

In [ ]:
inpstr=input()
count=0;
for i in range(len(inpstr)-1,-1,-1):
    if inpstr[i].isspace()==True:
        break
    else:
        count=count+1
print(count)


#another method

count=0;
for i in range(len(inpstr)-1,-1,-1):
    if inpstr[i]==" ":
        break
    else:
        count=count+1
print(count)

10)write code for printing the reverse of all the words of given input string

In [ ]:
inpstr=input()
L=inpstr.split()
l2=L[::-1]
#l3=" ".join(l2)
print(*l3)

write code for printing pairs of left most and right most elements from the given list.if any no. is not getting pair ,

Write code for taking a string input(decimal no.) and convert all the digits in it, to each of its respective place values and print the output as a string in the specified format

In [ ]:
str1=input()
out=[]
x=0
n=int(str1)
while n>0:
    ld=n%10
    if ld>0:
        out=[str(ld*10**x)]+out
    n=n//10
    x=x+1
print(" + ".join(out))



#another method


nstr=input()
strlist=list(nstr)
n=len(strlist);
x=n-1
for i in range(n):
    curval=int(strlist[i])*10**x
    if curval>0:
        if i<n-1:
            print(curval,end=" + ")
        else:
            print(curval)
    x=x-1

3472
3000 + 400 + 70 + 2

In a database there are 'n' students. The fields of the table are name, age, grade, and gender separated by comma. Your task is to print the student's names who are greater than or equal to 20 years old and print the average grade of female candidates using ASCII values of female candidate's grades.
Get the value of 'n' as the first line of input.
Get 'n' student's details, as comma separated input and each input in a newline.

In [ ]:
n=int(input())
gradesum=0
count=0
outlist=[]
for i in range(n):
    temlist=input().split(",")
    if int(temlist[1]>='20'):
        outlist.append(temlist[0])
    if (temlist[3]=="FEMALE"):
        gradesum+=ord(temlist[2])
        count+=1
if outlist:
    print(*outlist)
else:
    print("ALL INELIGIBLE")
if count>0:
    femavg=gradesum/count
    print(f"{femavg:.2f}")
else:
    print("NO FEMALE STUDENTS")

write code for printing all substrings of given i/p string

In [ ]:
str1="ABCD"
for i in range(len(str1)):
    tmpstr=""
    for j in range(i,len(str1)):
        tmpstr+=str1[j]
        print(tmpstr)

write code for finding whether an i/p string is palindrome

In [ ]:
str1=input().upper()
i=0;j=len(str1)-1;flag=0
while i<j:
    if str1[i]!=str1[j]:
        flag=1
    break
if flag==0:
    print("PALINDROME")
else:
    print("NOT PALINDROME")



    #another method
str1=input().upper()
if str1==str1[::-1]:
    print("palindrome")
else:
    print("not palindrome")

write the code for printing all the palindromic substrings of an i/p string

In [ ]:
inpstr="aaabaa"
n=len(inpstr)
for i in range(n):
    tmpstr=""
    for j in range(i,n):
        tmpstr+=inpstr[j]
        if tmpstr==tmpstr[::-1]:
            print(tmpstr)

write code for checking whether a string is a subsequence of another string

In [ ]:
str1="MATHEW KURIAN"
str2="MWKR"
i=0;j=0
while i<len(str1) and j<len(str2):
    if str1[i]!=str2[j]:
        i+=1
    else:
        j+=1
        i+=1
if j==len(str2):
    print("YES")
else:
    print("NO")

write code for finding the smallest and largest elemnt from the given i/p array without using any inbuilt function

In [ ]:
L=[30,20,10,10,60,60,50,40]
mi=ma=L[0]
for i in range(1,len(L)):
    if mi>L[i]:
        mi=L[i]
    if ma<L[i]:
        ma=L[i]
print(mi,ma)

write code for finding the second largest element from the given input array

In [ ]:
L=[100,10,50,25,50,100,10,25]
ma=max(L)
maxcount=L.count(ma)
for i in range(maxcount):
    L.remove(ma)

print(max(L))



#another method

L=[100,10,50,25,50,100,10,25]
L=sorted(L);flag=0
for i in range(len(L)-1,0,-1):
    if L[i]!=L[i-1]:
        flag=1

        break
if flag==1:
    print("2nd largest element is :",L[i-1])
else:
    print("no 2nd largest element")



    #another method


    L=[100,10,50,25,50,100,10,25]
flar=float('-inf');slar=float('-inf')
for i in range(len(L)):
    if flar<L[i]:
        slar=flar
        flar=L[i]
    elif slar<L[i] and L[i]<flar:
        slar=L[i]
print("second largest element:",slar)

write code for moving all zeros to the end of the array and append the avg of all non zero elements at the last ,non zero values relative order in the array should be maintained

In [ ]:
L=[10,0,30,0,20]
cnt=L.count(0)
for i in range(cnt):
    L.remove(0)
avg=sum(L)//len(L)
for i in range(cnt):
    L.append(0)
L.append(avg)
print(*L)



#another method


L=[10,0,30,0,20]
sum1=0;cnt=0;
zeros=min(L)
zcnt=L.count(zeros)
for i in range(zcnt):
    L.append(zeros)
    L.remove(zeros)
    sum1+=L[i]
    cnt+=1
    avg=sum1//cnt
L.append(avg)
print(*L)

10 30 20 0 0 20
10 30 20 0 0 20

write code for printing the last,10 digit numbers in the given string 'str1'(length of 'str1'>=10)as a string may contain digits,alphabets,delimiters etc

In [ ]:
str1="987-af-6-gh-98743210,ppp,56789-rrr"
outstr=""
cnt=0
for i in range(len(str1)-1,-1,-1):
    if str1[i].isdigit()==True:
        outstr+=str1[i]
        cnt+=1
    if cnt==10:
        break

print(outstr[::-1])

an encoded string 10111011011110 is decoded as "ACBD"

In [ ]:
inpstr=input()
outstr="";cnt=0
for i in range(len(inpstr)):
    if inpstr[i]=='0':
        outstr+=chr(ord('A')-1+cnt)
        cnt=0
    elif inpstr[i]=='1':
        cnt+=1
    else:
        print("invalid input")
print(outstr)




#if the input starts with 0


inpstr=input()
outstr="";cnt=0
for i in range(len(inpstr)):
    if i==0 and inpstr[i]=='0':
        continue
    if inpstr[i]=='0' and i!=0:
        outstr+=chr(ord('A')-1+cnt)
        cnt=0

    elif inpstr[i]=='1':
        cnt+=1
    else:
        print("invalid input")
print(outstr)

write code for removing all the vowels from the end of the given i/p string until a numeric constant occurs.print the modified string and the count of removed vowels .consider both lower and upper case

In [ ]:
str1="A 1 E 2 i 3PU How Are You?"

outstr="";vowcnt=0
for i in range(len(str1)-1,-1,-1):
    if str1[i].isdigit():
        break
    else:
        if str1[i] in "AEIOUaeiou":
            vowcnt+=1
        else:
            outstr=str1[i]+outstr
outstr=str1[:i+1:1]+outstr
print(outstr)
print(vowcnt)

A 1 E 2 i 3P Hw r Y?
6

write code for finding the next highest number using the same digits prsent in the input number

2187

In [ ]:
num=input()
diglist=list(num)
flag=0
for j in range(len(diglist)-1,-1,-1):
    for i in range(j-1,-1,-1):
        if diglist[i]<diglist[j]:
            flag=1
            break
    if flag==1:
        break
if flag==0:
    print("not possible")
    exit()

diglist[i],diglist[j]=diglist[j],diglist[i]
diglist=diglist[:i+1]+sorted(diglist[i+1: ])
L="".join(diglist)
print(L)

to check whether a given sentence is pangram or not

In [ ]:
str1="The quick brown fox jumps over the lazy dog"
str1=str1.replace(" ","")
str1=str1.lower()
l1=set(str1)
if len(l1)==26:
    print("pangram")
else:
    print("not a pangram")

pangram

write a code for checking whether a given number is HAPPY NUMBER or not

In [ ]:
n=int(input())
seen_num=set()
while n!=1 and n not in seen_num:
    seen_num.add(n)
    sqrsum=0
    while n>0:
        ld=n%10
        sqrsum+=ld**2
        n=n//10
    n=sqrsum
if n==1:
    print("happy number")
else:
    print("not happy number")

19
happy number

write code for finding the freq of each characters in the given i/p string using dictioanry and print each character and its freq in lexicographic order of the keys

In [ ]:
str1="@@MATHEW###MATHEW@@"
dict1={}

for i in range(len(str1)):
    if str1[i] in dict1:
        dict1[str1[i]]=dict1[str1[i]]+1
    else:
        dict1[str1[i]]=1
for key in sorted(dict1):
    print(key,dict1[key])

# 3
@ 4
A 2
E 2
H 2
M 2
T 2
W 2

write code for finding the longest consecutive sequence from an array of unsorted integers

In [ ]:
nums=[100,4,200,1,3,2]
numset=set(nums)
longestlen=0
longestseq=[]
for num in numset:
    if num-1 not in numset:
        currentnum=num
        currentlongestlen=1
        currentlongestseq=[num]
        while currentnum + 1 in numset:
            currentnum += 1
            currentlongestlen += 1
            currentlongestseq.append(currentnum)

        if currentlongestlen > longestlen:
            longestlen = currentlongestlen
            longestseq = currentlongestseq
print(*longestseq)

1 2 3 4

In [ ]:
n="22.56"
n=float(n)
ix=int(n)
print(ix)
fx=n-ix
print(round(fx,2))




nt=11.15
ot=10.45
if nt-int(nt)<ot-int(ot):
    nt+=.60-1
diff=(nt-ot)
print(round(diff,2))

In [ ]:
estr="(08:00,09:45)(10:05,10:55)(11:10,11.45)(12:50,13:00)(14:10,17:00)"
dur="01:05"
dur=dur.replace(":",".")
estr=estr.replace(")("," ")
estr=estr.replace(","," ")
estr=estr.replace(":",".")
estr=estr[1:len(estr)-1]
estr=estr.split()
print(estr)
for i in range(2,len(estr),2):
    nt=float(estr[i]);ot=float(estr[i-1])
    if nt-int(nt)<ot-int(ot):
        nt+=.60-1
    diff=nt-ot
    if round(diff,2)>float(dur):
        print(f"{ot:.2f}")
        break

['08.00', '09.45', '10.05', '10.55', '11.10', '11.45', '12.50', '13.00', '14.10', '17.00']
13.00